.tags {
    margin: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.tag {
    font-size: 12px !important;
    text-align: center !important;
    padding: 5px 8px 5px 8px !important;
    vertical-align: baseline;
    font-weight: lighter !important;
    margin: 0 6px 6px 2px;
    letter-spacing: 1px;
    background-color: #2a5657;
    color: #f5f5f5;
    border-radius: 15px;
}
