body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: #3f51b5;
    width: 100%;
    justify-content: space-between;
    margin-top: auto;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2) !important;
}

.footer-body {
    text-align: center;
    overflow: hidden;
    position: relative;
    color: #f5f5f5;
    padding: 20px 0;
}

.social-icons {
    display: flex;
    color: #f5f5f5;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}

.social-icon {
    padding: 1rem;
    transition: color 0.2s ease;
}

.social-icon:hover {
    color: #9c27b0 !important;
}

@media screen and (max-width: 499px) {
    .social-icons svg {
        height: 30px;
    }
}
